.search-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  position: relative;
}
.search-state-name {
  width: 370px;
  height: 24px;
  position: relative;
  color: #64748b;
}
.search-item-button {
  width: Hug (76px);
  height: Hug (32px);
  margin-left: 300px;
  padding: 4px, 6px, 4px, 6px;
  border-radius: 4px;
  position: relative;
  background-color: #1cd4d429;
  border: none;
}
.search-horizontal-line {
  color: #64748b;
  height: 1px;
}
.search-item-button {
  padding: 0px, 10px, 0px, 10px;
  gap: 6px;
  color: #facc15;
}
.search-right-arrow-icon {
  top: 7.5px;
  left: 15px;
  angle: -180 deg;
  position: absolute;
  color: #facc15;
}
@media screen and (max-width: 564px) {
  .search-list-item {
    margin-top: 40px;
  }
  .search-state-name {
    width: 250px;
    height: 48px;
    top: -100px;
    left: -300px;
    position: absolute;
    color: #64748b;
  }
  .search-item-button {
    width: Hug (63px);
    height: Hug (48px);
    left: -350px;
    top: -90px;
    padding: 4px, 8px, 4px, 8px;
    border-radius: 4px;
    position: absolute;
    background-color: #1cd4d429;
    border: none;
  }
  .search-horizontal-line {
    color: #64748b;
    height: 1px;
    width: 312px;
    margin-top: -65px;
    margin-left: -310px;
    position: relative;
  }
}
