.list-item {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.name {
  width: 203px;
}
.confirmed {
  width: 43px;
  margin-left: 100px;
  color: #ff073a;
}
.active {
  width: 43px;
  margin-left: 100px;
  color: #007bff;
}
.recovered {
  width: 43px;
  margin-left: 100px;
  color: #28a745;
}
.deceased {
  width: 43px;
  margin-left: 100px;
  color: #6c757d;
}
.population {
  width: 43px;
  margin-left: 100px;
  color: #6c757d;
}
.link-state {
  text-decoration: none;
}
